<!--
  ~  * *****************************************
  ~  *  * Copyright (c) 2017.
  ~  *  * Alexey Baskakov
  ~  *  *
  ~  *  * PropellerAds
  ~  *  * http://propellerads.com
  ~  *  *****************************************
  -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <!--for MRAID store picture-->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!--for MRAID store picture end-->

    <uses-feature
        android:name="android.hardware.location"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.location.gps"
        android:required="false" />

    <application>
        <activity
            android:name="com.propellerads.sdk.common.ads.interstitial.activity.PropellerAdsActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <!--MRAID video-->
        <activity
            android:name="com.propellerads.sdk.common.ads.interstitial.activity.PropellerAdsVideoActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <!--MRAID video end-->
        <service
            android:name="com.propellerads.sdk.common.server.PropellerAdsService"
            android:exported="false" />
    </application>
</manifest>