<!--
  ~  * *****************************************
  ~  *  * Copyright (c) 2017.
  ~  *  * Alexey Baskakov
  ~  *  *
  ~  *  * PropellerAds
  ~  *  * http://propellerads.com
  ~  *  *****************************************
  -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <!--for MRAID store picture-->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!--for MRAID store picture end-->

    <!--For PropellerAdsAuto-->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <!--For PropellerAdsAuto end-->

    <uses-feature
        android:name="android.hardware.location"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.location.gps"
        android:required="false" />

    <application>
        <activity
            android:name="com.propellerads.sdk.common.ads.interstitial.activity.PropellerAdsActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <!--MRAID video-->
        <activity
            android:name="com.propellerads.sdk.common.ads.interstitial.activity.PropellerAdsVideoActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <!--MRAID video end-->
        <service
            android:name="com.propellerads.sdk.common.server.PropellerAdsService"
            android:exported="false" />

        <!--For PropellerAdsAuto-->
        <receiver
            android:name="com.propellerads.sdk.common.ads.auto.AlarmReceiver"
            android:enabled="true"
            android:exported="true" />

        <receiver android:name="com.propellerads.sdk.common.ads.auto.TimeSetReceiver">
            <intent-filter>
                <action android:name="android.intent.action.TIME_SET" />
            </intent-filter>
        </receiver>

        <receiver android:name="com.propellerads.sdk.common.ads.auto.BootReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.QUICKBOOT_POWERON" />
            </intent-filter>
        </receiver>
        <!--For PropellerAdsAuto end-->
    </application>
</manifest>